// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .table_note{
//     height: 15px;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }
// table{
// 	width: 500px;
// 	table-layout:fixed;
// }

#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  }
